<!DOCTYPE html>
<html>
  <head>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <title><%= content_for?(:title)? yield(:title) : "GAMERS"%></title>
  </head>

  <body>
  <header>
  <div class="header-logo">
    <%= link_to("GAMERS","/")%>
  </div>
   <nav class="nav">
   <ul class="header-menus">
   
   <% if @current_user%>

    <a href="#"><li><%=link_to(@current_user.name,"/users/#{@current_user.id}/edit")%></li></a>
    <a href="#"><li><%=link_to("投稿一覧","/posts/index")%></li></a>
    <a href="#"><li><%=link_to("ログアウト","/users/logout")%></li></a> 
  <%else%>
    <a href="#"><li><%=link_to("GAMERSとは","/home/about")%></li></a>
    <a href="#"><li><%=link_to("新規登録","/users/signup")%></li></a>
    <a href="#"><li><%=link_to("ログイン","/users/signin")%></li></a>
  <%end%>

   </ul>
   </nav>
   <button type="button" id="navbtn"></button>
     <%= javascript_pack_tag 'click' %>
  </header>
  <% if flash[:notice]%>
  <div class="flash">
  <%= flash[:notice] %>
  </div>
  <%end%>
    <%= yield %> 
  </body>
</html>
